<ion-header>
  <ion-toolbar>
    <ion-title>EDITOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ADD USER</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item><ion-input type="number" [(ngModel)]="post.id"></ion-input></ion-item>
      <ion-item><ion-input type="text" [(ngModel)]="post.email"></ion-input></ion-item>
      <ion-item><ion-input type="text" [(ngModel)]="post.first_name"></ion-input></ion-item>
      <ion-item><ion-input type="text" [(ngModel)]="post.last_name"></ion-input></ion-item>
      <ion-button (click)="insert()">INSERT DATA</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>EDIT USER</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="number" [(ngModel)]="editor.id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="editor.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="editor.first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="editor.last_name"></ion-input>
      </ion-item>
      <ion-button (click)="edit()" color="secondary">EDIT DATA</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DELETE USER</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>Pilih User ID</ion-label>
        <ion-input type="number" [(ngModel)]="editor.id"></ion-input>
      </ion-item>
      <ion-button (click)="delete()" color="danger">DELETE DATA</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
