<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let dPOST of dataPOST">
      <ion-avatar slot="start">
        <img src="{{dPOST.avatar}}">
      </ion-avatar>
      <ion-label>
        <h2>{{dPOST.first_name}} {{dPOST.last_name}}</h2>
        <p>{{dPOST.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="GoToTab2()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
